body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

.container {
    max-width: 2200px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    cursor: pointer;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.faq-answer {
    display: none;
    padding-left: 20px;
    color: grey;
}

.faq-item.active .faq-question {
    color: green;
}

.faq-item.active .faq-answer {
    display: block;
    animation: fadeIn 0
}